@layer reset, base, components, utilities;

@layer base {
  #content {
    margin: 1rem;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr max-content;
    gap: 1rem;
  }

  #form--create-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #form--create-entry button[type='submit'] {
    grid-column: 1 / span 2;
  }

  #form--delete-entry {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    width: 25%;
  }

  #form--delete-entry label {
    grid-column: 1 / span 2;
  }
}
