@layer base {
  form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
    min-width: 25%;
    padding: 1.25rem;
    border-radius: 0.4rem;
  }

  form * {
    width: 100%;
  }

  input {
    grid-column: span 2;
    border: 1px solid black;
  }
}
