@layer base {
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
  }

  #formula {
    border-style: none;
  }

  #number-view {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 3fr 1fr 3fr;
  }

  #number-view * {
    width: 100%;
  }
}
