@layer base {
  form {
    gap: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }

  form * {
    width: 100%;
  }
}
