@layer reset, base, components, utilities;

@layer base {
  #root {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  form,
  output,
  input {
    outline: none;
    font-size: 1rem;
  }
}
